@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,*::after,*::before{box-sizing: border-box;}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}
.container{
    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 'image'
                         'text';
    border-radius: 20px;
    background-color: white;
    margin: auto;
    width: min-content; 
}
img{
    grid-area: image;
    border-radius:10px;
    margin: 1rem;
    max-width: 23rem;
}
img:hover{
    box-shadow: 0px  0px 20px rgb(107, 107, 107);
    cursor: pointer;
    zoom: 100.25%;
}

.text{
    grid-area: text;
    text-align: center;
    padding-inline:1.75rem ;
    width: 100%;
    margin-top: -20px;
}
h1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
p{
    color:hsl(220, 15%, 55%);
    font-weight: 400;
    padding-inline:2.5rem ;
}
